body{
  font-family: "Helvetica";
  text-align: center;
  padding: 0px;
  background: #000000;
  color: #444;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  padding: 20px 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h3{
  font-weight: 300;
}

.logo {
  float: left;
  color: white;
  font-size: 70px;
  background: url("images/logo.png");
}

#logochange:hover{
    background-image: url("images/logo-purple.png");
  }

#container {
    height:400px;
    width:400px;
    position:relative;
}

.searchformbox {
  position: relative;
  top: -800px;
  background-color: rgba(255,255,255,0.6);
  opacity: inherit;
  display: inline-block;
  padding: 1cm
}

#overimage {
    position: relative;   
    color:white;
    left:150px;
    top:350px;
}

.analyze {
  position: relative;
  top: -670px;
  background-color: rgba(255,255,255,0.6);
  opacity: inherit;
  display: inline-block;
  padding: .5cm;
}

.song-form {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  color: black
}

.button {
  font-family: 'Roboto Condensed', sans-serif;
}

.coverimage {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1
}

.tagline-text {
    position: absolute;
    top: 300px;
    width: 100%;
    color: white;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

.tagline-text2 {
    position: absolute;
    top: 165px;
    width: 100%;
    color: white;
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

#SearchModal {
  background-color: rgba(255,255,255,0.6);
  opacity: inherit;
  float: right;
  height: 40em;
  width: 40em
}

.nav {
  height: 100px;
  width: 100%;
  background-color: black;
  positive: absolute;
  text-decoration: none;
}

.navtext {
  float: right;
  color: white;
  padding: 30px;
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none
}

.footer-list {
  display: inline;
  color: white;
  margin-right: 20px;
  padding-top: 2cm;
  float: right;
  padding-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.footer-list:hover {
  background-color: none
}

// .body {
//   height: 550px;

// }

ul {
  list-style-type: none;
   margin: 0;
  padding: 0;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: black
}

a:link {
    text-decoration: none;
    display: inline
}

a:visited {
    text-decoration: none;
}



