<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SoundSense</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
          <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/normalize.css">

        <!-- If you are using the gem version, you need this only -->
        <link rel="stylesheet" href="css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
        var g = {
            client_id: "<%= process.env.SOUNDCLOUD_CLIENT_ID %>"
        };
        </script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="css/js/vendor/modernizr.js"></script>
        
    </head>
    <body>
      <!-- body goes here -->
    <div class="row nav">
        <span>
            <ul>
                <img style="z-index:-1" class="logo" src="images/logo.png" alt="soundsense-logo" width="100" height="100">
                <li class="logo" "navtext">SOUNDSENSE</li>
                <li><a class="navtext" href="#SEARCH">EXPLORE</a></li>
                <li><a class="navtext" href="#SEARCH">SEARCH</a></li>
                <li><a class="navtext" href="#SEARCH"> HOME</a></li>
            </ul>
        </span>
    </div>

    <div class="coverimage">
  <!--       <h1 class="tagline-text"> Hey Bitch...</h1> -->
       <!--  <h1 class="tagline-text2"> WELCOME TO SOUNDSENSE </h1> -->
        <img src="images/cover2.JPEG" alt="Smiley face">

    </div>
    <div class="body">
        <%- yield %>
    </div>
   
    <div class="footer">
        <div class="foot">
            <span>
            <ul class="footlist">
                <li><a class="footer-list" href="#SEARCH">ABOUT US</a></li>
                <li><a class="footer-list" href="#SEARCH">BLOG</a></li>
                <li><a class="footer-list" href="#SEARCH"> HELP</a></li>
            </ul>
            </span>
        </div>
    </div>
   
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="business-logic.js"></script>
    <script type="text/javascript" src="presentation-ui.js"></script>
     <script src="css/js/vendor/jquery.js"></script>
  <script src="css/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>