

<div class="searchformbox">
   
   <div class="search-song-box">
        <form class="search-song">
          <p class="song-form-header">CHOOSE UP TO 4 SONGS</p>
            <div>
              <input id="input" placeholder="type song title here" type="text" name="songsearch">
            </div>
          </div>
          <button class="button">SEARCH</button>
        </form>
    </div

  <br>

<div>
  <div class="select-song">
   <form class="select-song" style="display:none">
   <h2><strong>Search Results</strong></h2>
          <div class="options"></div>
          <button class="button">SELECT</button>
    </form>
    </div>
</div>

  <br>
  <br>
  <div class="analyze-form-box">
      <div class="small-6 large-centered columns">
        <div class="row">
          <div>
            <form class="analyze-form">
            <p class="song-form-header">SONGS</p>
            <ul class="analyze-list"></ul>
            <br>
            <button class="button anal-button">ANALYZE</button>
            <!-- <button class="comments">Get Comments</button>
        <button class="widget">Display Songs</button> -->
            </form>
          </div>
        </div>
      </div>
  </div>
</div>

    
